@model List<WebApplication1.Models.productTable>

@{
    ViewData["Title"] = "Home Page";
    int? userID = ViewData["userID"] as int?;
    var products = ViewData["products"] as List<WebApplication1.Models.productTable>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This will be the landing page for KhumaloCraft.</p>
    <p>Luke Edward Petzer - ST10298850</p>
</div>

@if (userID.HasValue)
{
    <p>User ID: @userID</p>
}
else
{
    <p>User has not logged in.</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (products != null)
        {
            foreach (var product in products)
            {
                <tr>
                    <td>
                        <div class="product-container">
                            <span class="product-name" data-img-url="@product.ProductImageUrl">
                                @product.Name
                            </span>
                            <div class="image-preview"></div>
                        </div>
                    </td>
                    <td>R @product.Price</td>
                    <td>@product.Category</td>
                    <td>@product.Availability</td>
                    <td>
                        <form asp-controller="Cart" asp-action="AddToCart" method="post" class="place-order-form">
                            <input type="hidden" name="productID" value="@product.ProductID" />
                            <input type="hidden" name="quantity" value="1" />
                            <button type="button" onclick="handlePlaceOrder(@(userID.HasValue ? userID.Value : 0), this.form)">Place Order</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No products available</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .product-container {
        position: relative;
        display: inline-block;
    }
    .product-name {
        cursor: pointer;
    }
    .image-preview {
        width: 200px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        background-position: center;
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        border: 1px solid #ccc;
        z-index: 1000;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var productNames = document.querySelectorAll('.product-name');

        productNames.forEach(function (productName) {
            productName.addEventListener('mouseover', function () {
                var imageUrl = this.getAttribute('data-img-url');
                var imagePreview = this.nextElementSibling;
                imagePreview.style.backgroundImage = 'url(' + imageUrl + ')';
                imagePreview.style.display = 'block';
            });

            productName.addEventListener('mouseout', function () {
                var imagePreview = this.nextElementSibling;
                imagePreview.style.display = 'none';
            });
        });
    });

    function handlePlaceOrder(userID, form) {
        if (userID && userID > 0) {
            alert("Order placed successfully!");
            form.submit();
        } else {
            alert("You need to log in before placing an order.");
            window.location.href = '@Url.Action("Login", "Home")';
        }
    }
</script>


@* ----------------------------------------------------------------------REFERENCES-------------------------------------------------------------------------------------------------------------
    Add button to switch between light and dark mode using two prefers-color-scheme. (2023, December). Stack Overflow. https://stackoverflow.com/questions/73693983/add-button-to-switch-between-light-and-dark-mode-using-two-prefers-color-scheme
    
    CSS tutorial. (n.d.). https://www.w3schools.com/css/default.asp

    Gray, J. (2018, October 17). To BLOB or not to BLOB: Large object storage in a database or a filesystem - Microsoft Research. Microsoft Research. https://www.microsoft.com/en-us/research/publication/to-blob-or-not-to-blob-large-object-storage-in-a-database-or-a-filesystem/?from=https://research.microsoft.com/apps/pubs/default.aspx?id=64525&type=exact
    
    HTML tutorial. (n.d.). https://www.w3schools.com/html/default.asp

    JavaScript tutorial. (n.d.). https://www.w3schools.com/js/default.asp

    Realtime colors. (n.d.). Realtime Colors. https://www.realtimecolors.com/?colors=031316-eefafc-31b7df-8e9fee-6256e5&fonts=Inter-Inter

    robvet. (2022, April 7). Relational vs. NoSQL data - .NET. Microsoft Learn. https://learn.microsoft.com/en-us/dotnet/architecture/cloud-native/relational-vs-nosql-data

    Storing images in SQL Server? (2023, March). Stack Overflow. https://stackoverflow.com/questions/5613898/storing-images-in-sql-server

    Tutorials - free web development and programming tutorials. (n.d.). https://www.w3schools.com/tutorials/

    W3Schools online web tutorials. (n.d.). https://www.w3schools.com/

----------------------------------------------------------------------END OF REFERENCES--------------------------------------------------------------------------------------------
 *@